.banner {
  padding: 180px 2px;
  object-fit: cover;
  object-position: center;
  background-size: auto;
}

.banner h1 {
  margin-top: 0px;
  font-size: 26px;
  text-shadow: 1px 1px 0.5px gray;
  color: white;
  font-family: Poppins;

}

.banner p {
  color: #B0B1B0;
}
